@import "tailwindcss";

@theme {
	/* Main colours */
	--color-schiphol-blue: #141251;
	--color-afternoon-blue: #1b60db;
	--color-seebuyfly-yellow: #f9c900;

	/* Secondary colours */
	--color-morning-pink: #aa3191;
	--color-lightmorning-pink: #ff8fb2;
	--color-lightmorning-blue: #94b0ea;
	--color-dusk-green: #027e9b;
	--color-dusk-blue: #25d7f4;
	--color-evening-pink: #6552a8;
	--color-evening-lilac: #d285d6;

	/* Greys */
	--color-black: #000;
	--color-grey-storm: #706a8a;
	--color-grey-overcast: #9491aa;
	--color-grey-broken: #bfbdcc;
	--color-grey-scattered: #eae9ee;
	--color-grey-few: #f2f1f4;
	--color-white: #fff;

	/* Signal colours */
	--color-dark-red: #d0021b;
	--color-green: #128a0b;
	--color-light-blue: #eef6ff;
	--color-light-green: #d0e8cf;
	--color-light-yellow: #fdfbda;

	/* Domain gradients */
	--gradient-flights: linear-gradient(90deg, #a35bcd 0%, #1b60db 80%);
	--gradient-parking: linear-gradient(90deg, #d472bc 0%, #1b60db 80%);
	--gradient-at-schiphol: linear-gradient(90deg, #d472bc 0%, #1b60db 80%);
	--gradient-more: linear-gradient(90deg, #6892ea 0%, #1b60db 80%);
	--gradient-privium: linear-gradient(90deg, #027e9b 40%, #1b60db 90%);
}
